<ul>
	<% if @operation %>
		<li><%= context_menu_link l(:button_edit), {:controller => 'operations', :action => 'edit', :id => @operation},
		        :class => 'icon icon-edit', :disabled => !@can[:edit] %></li>
  <% end %>
   	<li><%= context_menu_link l(:button_delete), {:controller => 'operations', :action => 'bulk_destroy', :ids => @operations.collect(&:id), :project_id => @project, :back_url => @back},
                            :method => :delete, :confirm => l(:text_are_you_sure), :class => 'icon icon-del', :disabled => !@can[:delete] %></li>

</ul>
