<fieldset class="preview">
  <%= textilizable @text, attachments: @attachments, object: @issue %>
</fieldset>

<button type="button" id="zenClickForEditBtn" title="Click for continue editing">
  <%= l(:label_click_for_edit) %>
</button>

