<p>
  <%= label_tag 'settings[storage_size]', l(:label_drive_storage_size) %>
  <%= text_field_tag 'settings[storage_size]', @settings['storage_size'] %> <%= l('number.human.storage_units.units.mb') %>
</p>
